﻿@model To_Do_List__asp.net_.Models.Task[]

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="wigth=device-wigth" charset="utf-8" />
    <title>To Do List</title>
</head>
<body>
    <div>
        <h3>список дел</h3>
        @Html.Partial("Create", new To_Do_List__asp.net_.Models.Task())
        <table >
            @foreach (var b in Model)
            {
                <tr>
                    <td width="160">@b.Description</td>
                    <td><a href="/Home/Remove?id=@b.Id" class="btn btn-info" role="button">Delete</a></td>
                </tr>
            }
        </table>
    </div>
</body>
<head>
    <title>canvas</title>
    <meta charset="utf-8">
    <script>

   window.onload = function() {
    var drawingCanvas = document.getElementById('smile');
    if(drawingCanvas && drawingCanvas.getContext) {
     var context = drawingCanvas.getContext('2d');
     // Рисуем окружность
     context.strokeStyle = "#000";
     context.fillStyle = "#fc0";
     context.beginPath();
     context.arc(100,100,50,0,Math.PI*2,true);
     context.closePath();
     context.stroke();
     context.fill();
     // Рисуем левый глаз        
     context.fillStyle = "red";
     context.beginPath();
     context.arc(84,90,8,0,Math.PI*2,true);
     context.closePath();
     context.stroke();
     context.fill();
     // Рисуем правый глаз
     context.beginPath();
     context.arc(116,90,8,0,Math.PI*2,true);
     context.closePath();
     context.stroke();
     context.fill();
     // Рисуем рот
     context.fillStyle = "#fff";
     context.beginPath();
     context.moveTo(70,115);
     context.quadraticCurveTo(100,130,130,115);
     context.quadraticCurveTo(100,150,70,115);
     context.closePath();
     context.stroke();
     context.fill();
    }
   }
    </script>
</head>
<body>
    <canvas id="smile" width="200" height="200">
        <p>Ваш браузер не поддерживает рисование.</p>
    </canvas>
</body>

</html>
